@media (min-width:350px) and (max-width:550px) {
    .restaurant {
        width: 100%;
        padding: 10px 5px;
        padding-top: 55px;
    }

    .restaurant-ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 10px 0px;
        padding-top: 30px;

    }

    .restaurant-ul li a {
        text-decoration: none;
        color: black;
        font-size: 20px;
       
    }
   
    .sub-category{
        height: 450px;
    }
    .sub-category ul li:hover{
        background-color: #EA6D27;
      border-radius: 50px;
      padding: 6px 8px;
    
      
      }
    .sub-category ul{
        padding-left: 0px;
    }
    .sub-category ul li {
        padding-top: 5px;
     
      }

    .sub-category ul li a {
        font-size: 18px; 

    }
    .sub-category ul img {
        margin-top: -5px;
        background-color: white;
        border-radius: 50px;
        padding: 5px 6px;
        width: 38px;
        height: 35px;
      }

    .restaurant-col {
        background-color: #F3F4F4;
        padding: 5px 0px;
    }

    .rest-button {
        padding-bottom: 5px;
    }

    .rest-button p {
        display: inline-block;
        font-size: 17px;
        padding-top: 3px;


    }

    .rest-icon {
        border-top: 1px dashed #a3a7a7;
        padding-top: 7px;
        font-size: 16px;
    }
    .rest-icon p{
        margin-top: 5px;
    }

}
@media (min-width:551px) and (max-width:767px){
    
    .restaurant {
        width: 100%;
        padding: 10px 10px;
        padding-top: 85px;
    }

    .restaurant-ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding: 0px 2px;
        padding-top: 40px;

    }

    .restaurant-ul li a {
        text-decoration: none;
        color: black;
        font-size: 32px;

    }
    .sub-category{
        height: 450px;
    }
    .sub-category ul{
        padding: 25px 0px;
    padding-top: 0px;
    padding-left: 150px;
        
    }
    .sub-category ul li {
        padding-bottom: 5px;
     
      }

    .sub-category ul li a {
        font-size: 31px;      

    }
    .sub-category ul img {
        margin-top: -14px;
      
      }

    .restaurant-col {
        background-color: #F3F4F4;
        padding: 5px 0px;
    }

    .rest-button {
        padding-bottom: 5px;
    }

}


